.Header, .Footer, .HomeAbout, .HomeSpecials {
  max-width: 900px;
  margin: 0 auto;
}

.Header {
  display: flex;
  height: 6rem;
}

.HeaderLogo {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  margin: auto;
}

.HeaderLogo img {
  width: 200px;
}

.FooterBackground {
  background-color: #F4CE14;
}

.Footer {
  display: flex;
  height: 15rem;
}

.FooterLogo {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: left;
}

.FooterLogo img {
  width: 100px;
}

.Nav {
  list-style: none;
  padding: 0;
}

.Nav a {
  margin: auto 0;
}

.Header .Nav {
  flex: 3 1 auto;
  display: flex;
  justify-content: space-between;
}

.Footer .Nav {
  flex: 1 1 auto;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  text-align: right;
  line-height: 1.5rem;
}

.HomeAboutBox {
  height: 30rem;
}

.HomeAboutBackground {
  height: 80%;
  background-color: #495E57;
}

.HomeAbout {
  display: flex;
  padding-top: 2.5rem;
}

.HomeAboutDescription {
  flex: 3 1 auto;
}

.HomeAboutDescription h1 {
  color: #F4CE14;
  line-height: 0;
}

.HomeAboutDescription h2 {
  color: white;
}

.HomeAboutDescription p {
  color: white;
  overflow-wrap: break-word;
  padding-right: 2rem;
  width: 20rem;
  line-height: 150%;
}

.HomeAboutImage {
  flex: 1 1 auto;
}

.HomeAboutImage img {
  height: 27.5rem;
  width: 100%;
  object-fit: cover;
  border-radius: 2rem;
}

.HomeSpecials {
  padding-bottom: 5rem;
}

.HomeSpecialsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HomeSpecialsMenu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.HomeSpecialsItem {
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 30%;
}

.HomeSpecialsItem div {
  background-color: lightgrey;
  display: flex;
  padding: 2rem 1.5rem;
  justify-content: space-between;
}

.HomeSpecialsItem img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
  display: block;
}

.HomeSpecialsItem p {
  font-weight: bold;
  margin: 0;
}

.HomeSpecialsItem span {
  color: #495E57;
}

button {
  margin-top: 0.5rem;
  background-color: #F4CE14;
  padding: 1rem 1.5rem;
  font-weight: bold;
  border-radius: 1rem;
}

h1 {
  font-size: 3rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}