.Header {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  height: 6rem;
}

.HeaderLogo {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  margin: auto;
}

.HeaderLogo img {
  width: 200px;
}

.FooterBackground {
  background-color: #F4CE14;
}

.Footer {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  height: 15rem;
}

.FooterLogo {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: left;
}

.FooterLogo img {
  width: 100px;
}

.Nav {
  list-style: none;
  padding: 0;
}

.Nav li {
  margin: auto 0;
}

.Header .Nav {
  flex: 3 1 auto;
  display: flex;
  justify-content: space-between;
}

.Footer .Nav {
  flex: 1 1 auto;
  margin: auto;
  text-align: right;
  line-height: 1.5rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}